*{
	margin: 0;
	padding: 0;
}
.slider{
	width: 100vw;
	height: 100vh;
}

body .slide{
	width: 100%;
	height: 100%;
}

.slide h1{
	text-align: center;
	color:#fff;
	font-family: 'Roboto';
	font-size: 70px;
	padding-top: 30vh;
}

.buttons {
	color:#fff;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 80px;
	position: absolute;
	top:30%;
	cursor: pointer;
}

.buttons:hover{
	color:rgb(168, 168, 168);
}

.buttons.next{
	right: 50px;
}
.buttons.prev{
	left: 50px;
}

.slider-dots{
	position: absolute;
	bottom: 50px;
	left: 45vw;

}
.slider-dots_item{
	display: inline-block;
	height: 13px;
	width: 13px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 3px;
}
.active,
.slider-dots_item:hover {
    background-color: rgb(119, 119, 119);
}









